{# templates/blog/layout.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h1>Home page</h1>

                {% block content %}

                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                Login
                            </div>
                        </div>
                    </div>

                {% endblock %}

            </div>
        </div>
    </div>

{% endblock %}